* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

.titles {
  display: flex;
  justify-content: space-around;
  color: #000000;
}

.titles ul {
  padding-left: 0;
}

.titles li {
  margin-bottom: 5px;
  list-style: none;
}

.titles a {
  text-decoration: none;
  color: #808080;
}

header {
  border-bottom: 2px solid #000000;
}

.navbar img {
  width: 55px;
  padding-top: 8px;
  padding-right: 30px;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #d6c9b1;
}

.navbar ul {
  display: flex;
  gap: 20px;
}

.nav-links {
  display: flex;
  gap: 30px;
  margin-right: auto; /* Muta linkurile spre stanga */
}

.nav-actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

#navbar-input {
  padding: 5px 10px;
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid #000000;
  outline: none;
  padding-right: 90px;
}

#reducere {
  color: #e61710;
}

.login-form {
  width: 100%;
  max-width: 500px;
  border: 1px #e0e0e0 solid;
  border-radius: 8px;
  padding: 40px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 10px;
}

.input-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.input-group-singularity {
  height: 40px;
  border-radius: 10px;
  font-size: 1.2rem;
}

.input-group label {
  margin-bottom: 10px;
  font-weight: 600;
  margin-bottom: 8px;
}

.required {
  color: #e61710;
}

input:focus {
  border-color: #000000;
  outline: none;
}

.help-text {
  font-size: 11px;
  color: #888;
  margin-top: 7px;
}

.checkbox-group {
  display: flex;
  align-items: flex-start;
  gap: 2px;
  margin-bottom: 10px;
}

.button-group {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

button {
  width: 100%;
  padding: 11px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
}

.btn-create {
  background-color: #000000;
  color: #ffffff;
  border: none;
}

.btn-create:hover {
  background-color: #333;
}

.btn-back {
  background-color: transparent;
  color: #000000;
  border: 1px solid #d1d1d1;
}

.btn-back:hover {
  background-color: #f5f5f5;
  border: #000000;
}

h1 {
  padding-left: 125px;
}

.social-media-icons {
  font-size: 20px;
}

.social-media {
  padding-left: 32px;
}

.checkbox-group input[type="checkbox"] {
  width: 18px;
  height: 18px;
}
