:root{
    --myColor: #f02525;
    --myBackgroundColor: #3911ee ; 
}

body{
    background-color: var(--myBackgroundColor);
}

.demo{
    --myColor:#ffc0cb;
}

body{
    --myColor1:green;
}

p{
    color: var(--myColor);
}

h1{
    color: var(--myColor1);
}