.first-colored-background {
  background-color: #d6c9b1;
  min-height: 450px;
  display: flex;
  flex-direction: column;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 50px;
}

.content-left {
  flex: 1;
}

.titlu-background {
  padding: 0;
  margin-bottom: 20px;
}

.paragraf-titlu-background {
  margin: 0;
  font-size: large;
  max-width: 500px;
}

.content-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.hero-logo-large {
  max-width: 400px;
  height: auto;
  opacity: 0.2;
  padding-right: 200px;
}

.brands-logos {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin-top: auto;
  padding: 20px 50px; /* 50px este egal cu padding-ul de la text ca să fie aliniate perfect pe margini */
}

.brands-logos img {
  height: 50px;
  width: auto;
  object-fit: contain;
}

.new-arrivals {
  padding: 60px 50px;
  background-color: #ffffff;
}

.section-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 40px;
  text-align: left;
}

.arrivals-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.arrival-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrival-card img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 4px; /* Opțional, pentru margini ușor rotunjite */
}

.arrival-btn {
  margin-top: 20px;
  background-color: #1a1a1a;
  color: white;
  border: none;
  padding: 12px 40px;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  max-width: 200px;
  transition: background-color 0.3s;
}

.arrival-btn:hover {
  background-color: #444;
}