.flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #fff5ed;
    text-align: center;
    font-family: "SN Pro", sans-serif;
}

.button-show-all{
    width: 200px;
    height: 35px;
    background-color: #fff5ed;
    font-family: "SN Pro", sans-serif;
    font-size: large;
}